.round-chart{display:inline-block;position:relative;text-align:center;margin-bottom:20px}.round-chart i,.round-chart span{display:inline-block;font-size:28px;z-index:2;font-weight:600;position:absolute}.round-chart.white i,.round-chart.white span{color:#fff}