/*

Template:  Webster - Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Design and Developed by: potenzaglobalsolutions.com

NOTE: This file contains the styling for the Cafe Template. You can edit/add anything in this file!

*/
  
h1 { font-size: 60px; font-style: normal; font-weight: 800; line-height: 60px; }
h2 { font-size: 46px; font-style: normal; font-weight: 700; line-height: 46px; }
h3 { font-size: 40px; font-style: normal; font-weight: 600; line-height: 40px; }
h4 { font-size: 30px; font-style: normal; font-weight: 500; line-height: 30px; }
h5 { font-size: 24px; font-style: normal; font-weight: 600; line-height: 30px; }
h6 { font-size: 20px; font-style: normal; font-weight: 600; line-height: 20px; }

.conference-bg { background: #1d2152; }
.button { font-weight: bold; letter-spacing: 4px;}

/*timer-banner */
.timer-banner .slider-content-middle { top: 58%; }
.timer-banner .slider-content .timer-box { margin-bottom: 20px; }
.timer-banner .slider-content .timer-box .icon i { font-size: 34px; }
.timer-banner .slider-content .timer-box .icon { display: inline-block; padding-right: 10px; }
.timer-banner .slider-content .timer-box .countdown-timer { display: inline-block; }
.timer-banner .slider-content .timer-box .countdown-timer .countdown span { color: #ffffff; }
.timer-banner .slider-content .timer-box .countdown-timer .countdown span.dot { color: #d12326; padding-left: 16px; }
.timer-banner .slider-content h1 { font-size: 150px; line-height: 130px; margin-bottom: 60px; }
.timer-banner .slider-content .date-add h4 { font-weight: 900; font-style: italic; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 2px solid rgba(255, 255, 255, 0.3); }
.timer-banner .slider-content .date-add span { font-size: 17px; }
.timer-banner .slider-content .date-add span i { padding-right: 10px; }

/*conference-about*/
.conference-about-content-right { margin-left: -100px; padding: 130px 0; }
.conference-about-content-left { padding: 130px 0 130px 100px; }

 /*.conference-split */
 .conference-split-content { padding: 130px 0; }
 .conference-split-content ins { font-size: 30px; font-weight: 600; text-decoration: none; color: #e57a3c; }
 .conference-split-content .conference-description .conference-contact span { display: block; font-size: 18px; }

 /*conference-schedule*/
 .conference-schedule .table-3.table thead { background: #1d2152; color: #ffffff; }
 .conference-schedule .table-3.table thead tr th { text-align: left; }

 /*conference-video*/
.conference-conference-gradient-overlay { position: relative; }
.conference-gradient-overlay:before { z-index: 0; opacity: .8; position: absolute; content: ""; height: 100%; width: 100%; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.6); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d12326), color-stop(100%, #1d2152)); background: -webkit-linear-gradient(-315deg, #d12326 0%, #1d2152 100%);  background: -webkit-linear-gradient(45deg, #d12326 0%, #1d2152 100%);  background: linear-gradient(45deg, #d12326 0%, #1d2152 100%); }
 .conference-video h3 { line-height: 50px; }
 .conference-video .popup-video { display: inline-block; text-align: center; }
 .conference-video .popup-video  a i { width: 100px; font-size: 20px; height: 100px; line-height: 100px; background: #ffffff; color: #d12326; border-radius: 50%; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
 .conference-video .popup-video  a i:hover { background: #d12326; color: #ffffff; }
.conference-gradient { background: rgba(0, 0, 0, 0.6); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d12326), color-stop(100%, #1d2152)); background: -webkit-linear-gradient(-315deg, #d12326 0%, #1d2152 100%);  background: -webkit-linear-gradient(45deg, #d12326 0%, #1d2152 100%);  background: linear-gradient(45deg, #d12326 0%, #1d2152 100%);}
/*footer*/
.footer.conference-bg .footer-Newsletter .form-control { background: rgba(0, 0, 0, 0.2); }
.footer.conference-bg .footer-widget { border-color: rgba(255, 255, 255, 0.1); }

 
 

  	